@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Ingredient>



<h2>Liste des ingrédients</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Catégorie</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Ingredient ing in Model)
        {
            <tr>
                <td>@ing.Id</td>
                <td>@ing.Name</td>
                <td>@ing.Category</td>
                <td>@ing.CreatedAt.ToShortDateString()</td>
                <td>
                    <a asp-controller="Ingredient" 
                       asp-action="DeleteIngredient"
                       asp-route-id="@ing.Id"
                       class="btn btn-danger"
                       onclick="return confirm ('Voulez-vous supprimer l\'ingredient ');"> 
                       Supprimer 
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-controller="Ingredient" asp-action="AddIngredient" class="btn btn-success">
        + Ajouter un ingrédient
    </a>
</p>