@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Recette>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Afficher recettes</title>
</head>
<body>
    <h2>Liste des recettes</h2>
    <div class="card-container">
    @for (int i = 0; i < Model.Count; i++)
    {
        <a asp-controller="Recette" asp-action="GetDetail" asp-route-id="@Model[i].Id">
        <p>Recette n°@(i+1)</p>
        
        <ul>
            
            <li>Titre: @Model[i].Title</li>
            <li>Category: @Model[i].Category</li>
            <li>Description: @Model[i].Description</li>
            <li>
        
                <a asp-controller="Recette"
                   asp-action="DeleteRecette"
                   asp-route-id="@Model[i].Id"
                   class="btn btn-danger"
                   onclick="return confirm('Voulez-vous vraiment supprimer cette recette ?');">
                    Supprimer
                </a>
            </li>
         
            <li>
                <a asp-controller="Recette"
                    asp-action="ModifyRecette"
                    asp-route-id="@Model[i].Id"
                    class="btn btn-warning">
                    Modifier
                </a>
            </li>
            
        </ul> 
            </a>
    }
    </div>
</body>
</html>